<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Blog Posts</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-3">
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <div id="navbarSupportedContent" class="inline-block">
                <ul class="navbar-nav ml-auto inline-block">
                    <li class="nav-item pull-right">
                        <a class="navbar-brand p-3" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item pull-right">
                        <a class="navbar-brand" href="{% url 'about_view' %}">About us</a>
                    </li>
                    <li class="nav-item pull-right">
                        <a class="navbar-brand" href="{% url 'translator_view' %}">Translator</a>
                    </li>
                </ul>
            </div>
        </nav>

{% block content %}
{% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

<style>
    body {
        background-color: grey;
    }
    .card-body {
        background-color: rgb(146, 145, 145);
        color: whitesmoke;
    }
</style>